body {
  background-color: #f7f2ef;
}

#header {
  z-index: 99;
}

.inner {
  width: 1400px;
  margin: auto;
  box-sizing: border-box;
  position: relative;
  padding: 80px 0;
}

section {
  position: relative;
}

#footer {
  background: #382f2d;
  color: white;
}